@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

$regular-weight: 400;
$medium-weight:500;
$dark-pink:#e31b6d;
$dark-blue:#1b242f;
$light-blue:#04c2c9;
$mix-blue:#00a1a7;
$light-black:#616161;
$light-grey:#252934;

html{
    font-size: 10px;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}