@import 'config';

.container,
.container-fluid{
    margin: 0px;
    padding: 0px !important;
}

#particles-js{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.home-section{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}


.home{
    
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    .text{
        font-weight: $medium-weight;
        text-align: center;
        color: white;
        z-index: 5;


        h1{
            font-size: 2.4rem;
        }
        
    }


    span{
        color: $dark-pink;
    }
    
    a{
        text-decoration: none;
        color: black;
        border: 2px solid grey;
        height: 100%;
        width: 100%;
        padding: 12px 50px 12px 20px;
        font-size: 1.2rem;
        font-weight: $regular-weight;
        position: relative;
        color: white;
    }

    a:hover{
        
        background-color: #04c2c9;
        border: 2px solid #04c2c9;
        color: white;

        i{
            transform: rotate(90deg);
            transition: 0.3s;
        }
    }

    i{
        position: absolute;
        right: 15px;
        top: 17px;
    }
    
}

//-------Navigation---------//

nav{

    background-color: #1b242f !important;
    border-bottom: 3px solid #04c2c9; 

    .active{
        color: $dark-pink !important;
        font-size: 1.2rem;
    }

    .other{
        font-size: 1.2rem;
        color: white !important;
    }
    .other:hover{
        color: $dark-pink !important;
        transition: 00.3s;
    }

    .nav-item{
        margin-right: 20px;
    }
}


//----------ABOUT------------//

.about{

    margin-top: 70px; 

    .about-heading{
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: $medium-weight;
        font-weight:600 ;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }
    .about-heading-border{
        width: 70px;
        height: 4px;
        border: 2px solid black;
        margin: 0px 537px;
    }
}

.icon-box{
    margin-top: 50px;
}

p{
    color: gray;
}

.main-box{
    flex-direction: row;
    
}

.box{
    width: 25%;
    text-align: center;
    flex-direction: column;
    margin: 10px;
}

.hexagon{
    width: 69.28px;
    height: 120px;
    background-color: #04c2c9;
    text-align: center;
    position: relative;
    margin-left: 37%;

    

    img{
        margin-top: 35px;
        width: 50px;
        color: white;
    }
}

.hexagon::before{
    width: 69.28px;
    height: 120px;
    content: '';
    background-color: #04c2c9;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: rotate(-61deg);
}

.hexagon::after{
    width: 69.28px;
    height: 120px;
    content: '';
    background-color: #04c2c9;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: rotate(61deg);
}
.hex-heading{
    margin-top: 20px;
    font-weight: 600;
}

.mine{
    margin-top: 70px;
}



.myself{
    margin-top: 78px;
    text-align: center;
    h1{
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color: #04c2c9;
    }
    a:hover{
        color: #00a1a7;
    }
}

.skill-box{
    
    margin-bottom: 28px;
    align-items: center;
    .css{
        width: 90%;
        text-align: center;
        background-color: #00a1a7;
    }
    .css-skill{
        width: 10%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }


    .html{
        width: 90%;
        text-align: center;
        background-color: #00a1a7;
    }
    .html-skill{
        width: 10%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }


    .js{
        width: 80%;
        text-align: center;
        background-color: #00a1a7;
    }
    .js-skill{
        width: 20%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }


    .git{
        width: 90%;
        text-align: center;
        background-color: #00a1a7;
    }
    .git-skill{
        width: 10%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }


    .ui{
        width: 70%;
        text-align: center;
        background-color: #00a1a7;
    }
    .ui-skill{
        width: 30%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }

    
    .bs{
        width: 93%;
        text-align: center;
        background-color: #00a1a7;
    }
    .bs-skill{
        width: 7%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }


    .sass{
        width: 90%;
        text-align: center;
        background-color: #00a1a7;
    }
    .sass-skill{
        width: 10%;
        text-align: center;
        background-color: rgb(182, 178, 178);
    }

    .skill-name{
        background-color: #04c2c9;
        color: white;
        border-radius: 2px solid #04c2c9;
        width: 150px;
    }

    
}


//----------Contact Form-------------//

.contact-section{
    background-color: #252934;
}

.contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.contact-text{
    text-align: center;
    margin-top: 40px;
}

.contact-heading{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: $medium-weight;
    font-weight:600 ;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.contact-heading-border{
    width: 130px;
    height: 4px;
    border: 2px solid white;
    text-align: center;
    margin-top: 10px;
    margin-left: 96.24px;
}

.para{
    text-align: center;
   
    margin-top: 30px;

    p{
        color: #04c2c9;
    }
}

form{
    
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 500px; 
    input{
        width: 100%;
        background-color: #1b242f;
        font-family: 'Raleway', sans-serif;
        border: 0;
        margin-bottom: 4px;
        padding: 5px 5px;
    }
    textarea{
        width: 100%;
        background-color: #1b242f;
        font-family: 'Raleway', sans-serif;
        border: 0;
        padding: 5px 5px;
    }
    .btn{
        width: 120px;
        padding: 0px;
        margin-left: 76%;
        margin-top: 5px;
        font-family: 'Raleway', sans-serif;
    }
    
}

.successful{
    background-color: #04c986;
    border: 2px solid #04c986;

    div:first-child{
        width: 95%;
        text-align: center;
    }
}

button{
    padding: 10px 30px;
    background-color: #252934;
    border: 2px solid white;
    color: white;
    margin-left: 537.78px;
    margin-top: 5px;
    width: 100%;
    
}
button:hover{
    background-color: #04c2c9;
    border: 2px solid #04c2c9;
}

//-------footer--------//

footer{

    background-color: #1b242f;

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    img{
        width: 60px;
        height: 60px;
        padding: 10px;
    }
}

.social-icon div:hover{
    background-color: #00a1a7;
}

.copyright{
    color: black;

    span{
        color: $dark-pink;
    }
}


